#canvas {
    background-image: url("images/background.jpg");
    background-size: cover;
    border: solid wheat;
    background-color: burlywood;
}

#start {
    width: 100px;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 10px;
}

#resetGameButton {
    width: 100px;
    height: 50px;
    border-radius: 15px;
    margin-bottom: 10px;
}
